/*  Grid Specific values */
/* Default use:
  @include min-(width,4,240);

  use width calculation
  @include min-(width,4,240,'calc(100% - 240px)');
*/
/* Generate the classes */
/* @function c($map){
 $value: to-string(&);
 $new: (slugify($value) : $value); //
 $map: map-merge($map,$new);
 @return $map;
}

 */
/*
	Use font-include for single fonts
	and font-list for a list using the $*-font-weights list
*/
/* embed sing font weight */
@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/RobotoCondensed-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed-Light.woff") format("woff"), url("../fonts/RobotoCondensed-Light.ttf") format("truetype"), url("../fonts/RobotoCondensed-Light.svg#Roboto Condensed") format("svg");
  /* Legacy iOS */
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/RobotoCondensed-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed-Regular.woff") format("woff"), url("../fonts/RobotoCondensed-Regular.ttf") format("truetype"), url("../fonts/RobotoCondensed-Regular.svg#Roboto Condensed") format("svg");
  /* Legacy iOS */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/RobotoCondensed-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed-Bold.woff") format("woff"), url("../fonts/RobotoCondensed-Bold.ttf") format("truetype"), url("../fonts/RobotoCondensed-Bold.svg#Roboto Condensed") format("svg");
  /* Legacy iOS */
  font-weight: 600;
  font-style: normal;
}

/* embed font family as list */
.heading-font-family {
  font-family: Roboto Condensed, serif;
  text-transform: uppercase;
}

/* embed sing font weight */
/* embed font family as list */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.ttf") format("truetype"), url("../fonts/Roboto-Light.svg#Roboto") format("svg");
  /* Legacy iOS */
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular.svg#Roboto") format("svg");
  /* Legacy iOS */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype"), url("../fonts/Roboto-Medium.svg#Roboto") format("svg");
  /* Legacy iOS */
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype"), url("../fonts/Roboto-Bold.svg#Roboto") format("svg");
  /* Legacy iOS */
  font-weight: 600;
  font-style: normal;
}

.body-font-family {
  font-family: Roboto, sans-serif;
  font-weight: normal;
}

/* embed sing font weight */
/* embed font family as list */
@font-face {
  font-family: "Roboto Mono";
  src: url("../fonts/RobotoMono-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoMono-Regular.woff") format("woff"), url("../fonts/RobotoMono-Regular.ttf") format("truetype"), url("../fonts/RobotoMono-Regular.svg#Roboto Mono") format("svg");
  /* Legacy iOS */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("../fonts/RobotoMono-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoMono-Bold.woff") format("woff"), url("../fonts/RobotoMono-Bold.ttf") format("truetype"), url("../fonts/RobotoMono-Bold.svg#Roboto Mono") format("svg");
  /* Legacy iOS */
  font-weight: 600;
  font-style: normal;
}

.code-font-family {
  font-family: Roboto Mono, Monaco, courier, monospace, sans-serif;
  font-weight: normal;
}

h1 + h1, h2 + h1, h3 + h1, h4 + h1, h5 + h1, pre + h1, span.code p + h1 {
  margin-top: 0.75rem;
}

h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, pre + p, span.code p + p {
  margin-top: 2rem;
}

h1 + .row, h2 + .row, h3 + .row, h4 + .row, h5 + .row, pre + .row, span.code p + .row {
  margin-top: 1rem;
}

h1 + h1, h1 + h2, h1 + h3, h1 + h4, h1 + h5, h1 + p, h2 + h1, h2 + h2, h2 + h3, h2 + h4, h2 + h5, h2 + p, h3 + h1, h3 + h2, h3 + h3, h3 + h4, h3 + h5, h3 + p, h4 + h1, h4 + h2, h4 + h3, h4 + h4, h4 + h5, h4 + p, h5 + h1, h5 + h2, h5 + h3, h5 + h4, h5 + h5, h5 + p, pre + h1, pre + h2, pre + h3, pre + h4, pre + h5, pre + p, span.code p + h1, span.code p + h2, span.code p + h3, span.code p + h4, span.code p + h5, span.code p + p {
  margin-top: 1rem;
}

span.code + h1, span.code + h2, span.code + h3, span.code + h4, span.code + h5, pre + h1, pre + h2, pre + h3, pre + h4, pre + h5 {
  margin-top: 2rem;
}

p[true^="button"], p[true*=" button"] {
  margin-top: 2rem;
}

p + p {
  margin-top: 0.5rem;
}

p + table {
  margin-top: 1rem;
}

h1 + p, h2 + p, h3 + p, h4 + p, h5 + p {
  margin-top: 1.04167vw;
}

h1 + table, h2 + table, h3 + table, h4 + table, h5 + table {
  margin-top: 1rem;
}

h1 + ul, h2 + ul, h3 + ul, h4 + ul, h5 + ul {
  margin-top: 1rem;
}

h2 + h5, h3 + h5, h4 + h5 {
  margin-top: 0.83333vw;
}

table + h1, table + h2, table + h3, table + h4, table + h5, table + p {
  margin-top: 2rem;
}

blockquote + h1, blockquote + h2, blockquote + h3, blockquote + h4, blockquote + h5, blockquote + p {
  margin-top: 1rem;
}

ul + h1, ul + h2, ul + h3, ul + h4, ul + h5, ul + p, blockquote + h1, blockquote + h2, blockquote + h3, blockquote + h4, blockquote + h5, blockquote + p {
  margin-top: 1rem;
}

div + table, div + h1, div + h2, div + h3, div + h4, div + h5, p + table, p + h1, p + h2, p + h3, p + h4, p + h5 {
  margin-top: 2.08333vw;
}

/*# sourceMappingURL=assets.css.map */
