%button{
	font-weight: 600; letter-spacing: 0.5px; display: inline-block; font-size: 1rem; line-height: 1; padding: 1rem 2rem; border: none; box-shadow: 0 0 0 0 color(Darkgray) inset; border-radius: 2px; background-color: color(Black); color: color(White); text-transform: uppercase;
	@extend %heading-font-family; transition: box-shadow 0.2s, color 0.2s 0.1s; cursor: pointer; font-size: 14px;

	&:not([disabled]):hover{
		box-shadow: 0 100px 0 0 color(Dark) inset; color: color(White);
	}

	&[disabled]{
		opacity: 0.2; cursor: normal;
	}

	&-small{
		font-size: rem(12); padding: 0.25rem 0.75rem;
	}
	&-naked{
		background: none; box-shadow: 0 0 1px 0 color(Darkgray,0.5) inset; color: color(Darkgray,0.25);
	}
}

%buttongroup{
	.button{
		&+.button{
			margin-left: 1rem;
		}
	}
}
