--colors-primary-black: #101010;
--colors-primary-dark: #1a1b1a;
--colors-primary-midgray: #7f7f7f;
--colors-primary-offwhite: #f7f7f7;
--colors-primary-white: #ffffff;
--colors-secondary-green: #b4bb00;
--colors-secondary-lime: #b6ce2f;
--colors-secondary-yellow: #edd32d;
--colors-secondary-darkbrown: #4f3f35;
--colors-secondary-brown: #ac846c;
--colors-secondary-orange: #e86d02;
--colors-secondary-darkblue: #14697c;
--colors-secondary-blue: #1eaece;
--colors-secondary-turqouise: #33d0ca;
--colors-secondary-red: #dd0000;
--colors-secondary-pink: #ea4c89;
--colors-secondary-purple: #8b008b;

