--assets-prefix: 'kh-';
--assets-border-radius: 2px;
--assets-base-img-dir: '../img';
--assets-base-font-size: 16;
--assets-base-line-height: 1.5;
--assets-base-letter-spacing: 50;
--assets-base-fontpath: '/fonts';
--assets-base-cap-height: 0.68;
--assets-transition-time: 0.3;
--assets-transition: .3s;
--assets-cubic-bezier: cubic-bezier(0.75,0.75,0.25,0.50);
--assets-bezier: cubic-bezier(0.75,0.75,0.25,0.50);