.assets-footer(){
	background-color: @colors-primary-khblack; color: @colors-primary-khwhite;
}

.assets-footer--top(){
	.grid(3 0 1 0, padding);
	h4{
		.assets-heading(h4);
	}
	ul{
		li{
			display: block;
			a{
				// .assets-menu();
				color: @colors-primary-khmidgray; font-weight: @assets-font-weight-regular; line-height: 2;
				&:hover{
					color: @colors-primary-khwhite;
				}
			}
			&.icon-item{
				display: inline-block; width: 20px; margin-right: 20px;
				a{
					text-indent: -999em; display: block; width: 20px; height: 20px;
				}
			}
		}
	}
	@media @small-only{ display: none; }
}
.assets-footer--newsletter(){
	.grid(1 0, padding);
}
.assets-footer--bottom(){
	display: flex;
}
.assets-footer--bottom__content(){
	.grid(0.5 1, padding); background-color: @colors-primary-khdark;
	// .assets-menu-small();
	color: @colors-primary-khmidgray;
	.footnote{
		flex-grow: 1; border: 1px solid red;
		span, a{
			display: inline-block;
		}
		a{
			margin-left: 1rem; text-decoration: underline;
		}
		@media @small-only{ display: block; line-height: 1.5;
			span{ display: block; }
		}
	}
	@media @small-only{ display: block; .grid(1, padding); }
	.languageSwitcher{
		flex-grow: 1; text-align: right;
		@media @small-only{ .grid(2, margin-top); display: block; text-align: left;  }
	}
}
