// Icon Function

$icons: () !default;

@function icons(){
	@return $icons-merged;
}

@function icon($value,$return: "value"){
	$returnValue: "";
	@each $iconFamily-name, $iconFamily-value in $icons{
		@each $icon-name, $icon-value in map-get($iconFamily-value,"icons"){
			@if $value == $icon-name{
				@if $return == "name"{
					$returnValue: $icon-name;
				}
				@elseif $return == "font"{
					$returnValue: "#{$iconFamily-name}";
				}
				@else{
					$returnValue: $icon-value;
				}
			}
		}
	}
	@if $returnValue == ""{
		@warn "return value from icon is empty";
	}
	@return $returnValue;
}
