.assets-input() {
	.body-font-family();
	font-weight: @assets-font-regular;
	width: 100%;
	border: 1px solid color(Black,0.25);
	border-radius: 2px;
	line-height: 1rem;
	font-size: 1rem;
	padding: 0.5rem 1rem;

	/* --------------------- */
	/* 			states 		 */
	/* --------------------- */
	&:before{
		display: block;
		width: 100px;
		height: 100px;
		background-color: red;
	}

	&:hover{
		border: 1px solid color(Black,0.5);
	}

	&:focus{
		border: 1px solid color(Black,1);
		box-shadow: 0 0 0.5rem 0 color(Black,0.1);

		&:hover{
			border: 1px solid color(Black,1);
		}
	}
}

.assets-input(){
	&-color{
		.assets-input();
		& {
			padding: 0;
			-webkit-appearance: none;
			width: 2rem;
			height: 2rem;
			padding: 0.25rem;
			border-radius: 50%;
		}

		&::-webkit-color-swatch-wrapper{
			display: block;
			margin: 0;
			border: none;
			padding: 0;
			width: 2rem;
			height: 2rem;
			border-radius: 2px;
		}

		&::-webkit-color-swatch{
			display: block;
			width: 1.4rem;
			height: 1.4rem;
			border: none;
			border-radius: 50%;
		}
	}

	&-date{
		.assets-input();
	}

	&-datetime-local{
		.assets-input();
	}

	&-email{
		.assets-input();
	}

	&-file{
		.assets-input();
	}

	&-image{
		.assets-input();
	}

	&-month{
		.assets-input();
	}

	&-number{
		.assets-input();
		&::-webkit-inner-spin-button{
			border: 1px solid red;
			width: 10px;
			height: 20px;
			display: none;
		}
	}

	&-password{
		.assets-input();
		font-size: 1.25rem;
		font-family: caption;
		letter-spacing: 3px;
	}

	&-search{
		.assets-input();
	}

	&-tel{
		.assets-input();
	}

	&-text{
		.assets-input();
	}

	&-time{
		.assets-input();
	}

	&-url{
		.assets-input();
	}

	&-week{
		.assets-input();
	}
}

* {
	.assets-input-checkbox(){
		.input-checkbox(1rem,1rem,0, 0.25rem, color(White), color(Black), 50%);

		.input-checkbox-body(){
			box-shadow: 0 0 0 1px color(Black,0.25) inset;
		}
		.input-checkbox-body-checked(){
			background-color: color(Black);
		}
		.input-checkbox-check(){
			transform: scale(0.7) rotate(-45deg) translateY(0rem);
			background: none;
			border-left: 2px solid black;
			border-bottom: 2px solid black;
			border-radius: 0;
			width: 8px;
			height: 4px;
			margin: 0;
			top: 3px;
			left: 3px;
			opacity: 0.15;
			transition: 0.1s;
		}
		.input-checkbox-check-checked(){
			transform: scale(1) rotate(-45deg) translateY(0rem); border-color: white;
		}

		.input-checkbox-label(){
			padding-left: 2rem;
		}
	}
}

* {
	.input-radio() {
		.input-radio(1rem,1rem,0, 0.25rem, color(White), color(Black));
		display: block;

		.input-radio-body() {
			box-shadow: 0 0 0 1px color(Black,0.5) inset;
			margin-right: 1rem;
		}

		.input-radio-check() {
			border-radius: 50%;
		}

		.input-radio-label() {
			padding-left: 2rem;
		}
	}
}
