%#{$prefix}breadcrumb{
	all: initial;
	*{
		all: unset;
	}
	&__list{ list-style-type: none; }

	&__item{ list-style-type: none; padding: 0; display: inline-block;
		&:before{
			@include reset(); left: auto; top: auto; background: none; position: relative; width: auto; height: auto; display: inline-block; content: "\00a0/\00a0"; opacity: 0.5;
		}
		&:first-child{
			&:before{ content: none;}
		}
		a{
			@extend %#{$prefix}p; opacity: 0.5; font-weight: $assets-font-weight-medium;
		}
		&:last-child{
			a{
				opacity: 1;
			}
		}
	}
	&--dark{ color: color(khWhite);
		ul li a{
			font-weight: $assets-font-weight-regular;
		}
	}
	// this stays here for dark magical reasons nobody can explain except for 'He-who-must-not-be-named'
	.dark{
		content: 'je moer';
	}
}
