%#{$prefix}wheelShadow{
	display: block; z-index: 1; width: 22%; height: 4.5px; filter: blur(1px); background-image: radial-gradient(circle, color(khBlack, .8), color(khWhite,0)); background-blend-mode: multiply;
}

%#{$prefix}productCard{ width: calc(#{grid(8)} - 2px); background-color: color(khWhite); padding: grid(1); border: 1px solid color(khBlack);
		&__text{ color: color(khBlack);
			h2{ @extend %#{$prefix}h4; font-family: $assets-h2-font-family; font-weight: $assets-font-weight-bold; line-height: 1; }
			h3{ @extend %#{$prefix}p; font-weight: $assets-font-weight-bold; line-height: 1.25; margin-top: rem(16px); }
			h4{ @extend %#{$prefix}p; color: color(khMidgray); line-height: 1.75; margin-top: rem(4px); }
		}
		&__image{ position: relative; padding-top: grid(40/60);
			img{ display: relative; z-index: 2; width: 100%; }
			&Shadow{ @extend %#{$prefix}wheelShadow; position: absolute; bottom: 0; left: 9%;
				&:after{ @extend %#{$prefix}wheelShadow; width: 100%; content: ''; position: absolute; bottom: 0; left: 275%; }
				// position: absolute; height: 20px; width: 100%; overflow: hidden; filter: blur(23px) grayscale(100%); bottom: 0%; transform: scale(1,0.1); left: 0%;
				img{
					display:  none;
				}
			}
		}
		&__settings, &__footer{ margin-top: grid(52/60); display: flex;
			div{
				text-align: right; width: 50%;
				&:first-child{
					text-align: left;
				}
			}
		}
		&__footer{ border-top: 1px solid color(khLightgray); margin: grid(32/60) 0 0 0; padding-top: grid(40/60);
			label{ font-weight: $assets-font-weight-bold; color: color(khMidgray); }
		}
}
