@function assets-font-min($value){
	@return $value - ($value / 3);
}
@function assets-font-max($value){
	@return $value + ($value / 3);
}


/* --------------------------------------- */
/*				H1
/* ---------------------------------------- */
$assets-h1-design-size: 96px; //
$assets-h1-font-size: grid(1.2); //
$assets-h1-font-family: "Roboto Condensed"; //
$assets-h1-font-weight: bold; //
$assets-h1-text-transform: uppercase; //
$assets-h1-line-height: 1; //
$assets-h1-font-size-min: assets-font-min($assets-h1-design-size); //
$assets-h1-font-size-max: assets-font-max($assets-h1-design-size); //
$assets-h1-letter-spacing: 0;


/* --------------------------------------- */
/*				H2
/* ---------------------------------------- */
$assets-h2-design-size: 60px; //
$assets-h2-font-size: grid(0.75); //
$assets-h2-font-family: "Roboto Condensed"; //
$assets-h2-font-weight: bold; //
$assets-h2-text-transform: uppercase; //
$assets-h2-line-height: 1; //
$assets-h2-font-size-min: assets-font-min($assets-h2-design-size); //
$assets-h2-font-size-max: assets-font-max($assets-h2-design-size); //
$assets-h2-letter-spacing: 0;


/* --------------------------------------- */
/*				H3
/* ---------------------------------------- */
$assets-h3-design-size: 40px; //
$assets-h3-font-size: grid(0.5); //
$assets-h3-font-family: "Roboto"; //
$assets-h3-font-weight: normal; //
$assets-h3-text-transform: none; //
$assets-h3-line-height: 1.25; //
$assets-h3-font-size-min: assets-font-min($assets-h3-design-size); //
$assets-h3-font-size-max: assets-font-max($assets-h3-design-size); //
$assets-h3-letter-spacing: -0.3;


/* --------------------------------------- */
/*				H4
/* ---------------------------------------- */
$assets-h4-design-size: 32px; //
$assets-h4-font-size: grid(0.4); //
$assets-h4-font-family: "Roboto"; //
$assets-h4-font-weight: normal; //
$assets-h4-text-transform: none; //
$assets-h4-line-height: 1.5; //
$assets-h4-font-size-min: assets-font-min($assets-h4-design-size); //
$assets-h4-font-size-max: assets-font-max($assets-h4-design-size); //
$assets-h4-letter-spacing: -0.25;


/* --------------------------------------- */
/*				H5
/* ---------------------------------------- */
$assets-h5-design-size: 24px; //
$assets-h5-font-size: grid(0.3); //
$assets-h5-font-family: "Roboto"; //
$assets-h5-font-weight: normal; //
$assets-h5-text-transform: none; //
$assets-h5-line-height: 1.5; //
$assets-h5-font-size-min: assets-font-min($assets-h5-design-size); //
$assets-h5-font-size-max: assets-font-max($assets-h5-design-size); //
$assets-h5-letter-spacing: -0.25;
