// headers
%#{$prefix}header-default{
	font-family: $assets-headers-font-family; font-weight: $assets-headers-font-weight; line-height: $assets-headers-line-height; margin: 0; letter-spacing: $assets-headers-letter-spacing; padding: 0; text-transform: $assets-headers-text-transform;
	&.sub{
		font-weight: $font-regular;
	}
}

%#{$prefix}h1{
	@extend %#{$prefix}header-default; font-family: $assets-h1-font-family; font-size: grid($assets-h1-font-size-value); font-weight: $assets-h1-font-weight; line-height: $assets-h1-line-height; letter-spacing: $assets-h1-letter-spacing; text-transform: $assets-h1-text-transform;
	@include min-fontsize($assets-h1-font-size-value,$assets-h1-font-size-min);
	@include max-fontsize($assets-h1-font-size-value,$assets-h1-font-size-max);
}
%#{$prefix}h2{
	font-family: $assets-h2-font-family; font-size: grid($assets-h2-font-size-value); font-weight: $assets-h2-font-weight; line-height: $assets-h2-line-height; letter-spacing: $assets-h2-letter-spacing; text-transform: $assets-h2-text-transform;
	@include min-fontsize($assets-h2-font-size-value,$assets-h2-font-size-min);
	@include max-fontsize($assets-h2-font-size-value,$assets-h2-font-size-max);
}
%#{$prefix}h3{
	font-family: $assets-h3-font-family; font-size: grid($assets-h3-font-size-value); font-weight: $assets-h3-font-weight; line-height: $assets-h3-line-height; letter-spacing: $assets-h3-letter-spacing; text-transform: $assets-h3-text-transform;
	@include min-fontsize($assets-h3-font-size-value,$assets-h3-font-size-min);
	@include max-fontsize($assets-h3-font-size-value,$assets-h3-font-size-max);
}
%#{$prefix}h4{
	font-family: $assets-h4-font-family; font-size: grid($assets-h4-font-size-value); font-weight: $assets-h4-font-weight; line-height: $assets-h4-line-height; letter-spacing: $assets-h4-letter-spacing; text-transform: $assets-h4-text-transform;
	@include min-fontsize($assets-h4-font-size-value,$assets-h4-font-size-min);
	@include max-fontsize($assets-h4-font-size-value,$assets-h4-font-size-max);
}
%#{$prefix}h5{
	font-family: $assets-h5-font-family; font-size: grid($assets-h5-font-size-value); font-weight: $assets-h5-font-weight; line-height: $assets-h5-line-height; letter-spacing: $assets-h5-letter-spacing; text-transform: $assets-h5-text-transform;
	@include min-fontsize($assets-h5-font-size-value,$assets-h5-font-size-min);
	@include max-fontsize($assets-h5-font-size-value,$assets-h5-font-size-max);
}
%#{$prefix}h6{
	font-family: $assets-h6-font-family; font-size: grid($assets-h6-font-size-value); font-weight: $assets-h6-font-weight; line-height: $assets-h6-line-height; letter-spacing: $assets-h6-letter-spacing; text-transform: $assets-h6-text-transform;
	@include min-fontsize($assets-h6-font-size-value,$assets-h6-font-size-min);
	@include max-fontsize($assets-h6-font-size-value,$assets-h6-font-size-max);
}


// make font styles
%#{$prefix}font-regular{
	font-weight: $font-regular;
}
%#{$prefix}font-bold{
	font-weight: $font-bold;
}
%#{$prefix}small{
	font-size: smaller;
}
%#{$prefix}del{
	text-decoration: line-through;
}
%#{$prefix}ins{
	text-decoration: underline;
}
%#{$prefix}sub{
	font-size: smaller; vertical-align: sub;
}
%#{$prefix}sup{
	font-size: smaller; vertical-align: sup;
}

%#{$prefix}p{
	font-size: grid($assets-p-font-size-value); font-weight: $assets-p-font-weight; line-height: $assets-p-line-height;
	@extend %#{$prefix}header-default;
	@include min-fontsize($assets-p-font-size-value,$assets-p-font-size-min);
	@include max-fontsize($assets-p-font-size-value,$assets-p-font-size-max);
}


%#{$prefix}p{
	font-family: $body-font-family; font-size: rem(16); font-weight: 400; line-height: rem(24); margin: 0; padding: 0;
	&.text-tiny{
		font-size: rem(12);
	}
	&.text-small{
		font-size: rem(14);
	}
	&.text-regular{
		font-size: rem(16);
	}
	&.text-large{
		font-size: rem(18);
	}
	&.text-xlarge{
		font-size: rem(24);
	}
}

%#{$prefix}blockquote{
	margin: 0; padding: 0.5rem  1rem;
}
