@assets-elements-color-dot-class: 'color-dot';
@assets-elements-color-dot-width: 20px;
@assets-elements-color-dot-height: 20px;
@assets-elements-color-dot-gutter: 5px;
@assets-elements-color-dot-active-scale: 1.2;
@assets-elements-color-dot-margin: 0 0 0 20px;
@assets-elements-color-dot-shadow-brightness: 80;
@assets-elements-color-dot-shadow-size: 0 0 2px 0;
@assets-elements-color-dot-shadow-color: rgba(16,16,16,0.25);
@assets-elements-color-dot: class 'color-dot', 
width 20px, 
height 20px, 
gutter 5px, 
active-scale 1.2, 
margin 0 0 0 20px, 
	"shadow": (
brightness 80, 
size 0 0 2px 0, 
color rgba(16,16,16,0.25)
	) //;