// Prefix
$prefix: "kh-"; 

// Styling
$border-radius: 2px; 

// Base
$base-img-dir: "../img"; //
$base-font-size: 16; //
$base-line-height: 1.5; //
$base-letter-spacing: 50;  //
$base-fontpath: "/fonts"; //
$base-cap-height: 0.68; //


// main
$transition-time: 0.3; //
$transition: #{$transition-time}s; //
$border-radius: rem(3); //
$round-border-radius: 0.5rem; //
$cubic-bezier: cubic-bezier(0.75,0.75,0.25,0.50); //
$bezier: $cubic-bezier;
