@assets-colors-primary-black: #101010;
@assets-colors-primary-darkgray: #1a1b1a;
@assets-colors-primary-midgray: #7f7f7f;
@assets-colors-primary-offwhite: #f7f7f7;
@assets-colors-primary-white: #ffffff;
@assets-colors-secondary-green: #b4bb00;
@assets-colors-secondary-lime: #b6ce2f;
@assets-colors-secondary-yellow: #edd32d;
@assets-colors-secondary-darkbrown: #4f3f35;
@assets-colors-secondary-brown: #ac846c;
@assets-colors-secondary-orange: #e86d02;
@assets-colors-secondary-darkblue: #14697c;
@assets-colors-secondary-blue: #1eaece;
@assets-colors-secondary-turqouise: #33d0ca;
@assets-colors-secondary-red: #dd0000;
@assets-colors-secondary-pink: #ea4c89;
@assets-colors-secondary-purple: #8b008b;

@assets-colors-primary:
Black #101010,
Darkgray #1a1b1a,
Midgray #7f7f7f,
Offwhite #f7f7f7,
White #ffffff;

@assets-colors-secondary:
Green #b4bb00,
Lime #b6ce2f,
Yellow #edd32d,
Darkbrown #4f3f35,
Brown #ac846c,
Orange #e86d02,
Darkblue #14697c,
Blue #1eaece,
Turqouise #33d0ca,
Red #dd0000,
Pink #ea4c89,
Purple #8b008b;