@colors-primary-black: #101010;
@colors-primary-dark: #1a1b1a;
@colors-primary-midgray: #7f7f7f;
@colors-primary-offwhite: #f7f7f7;
@colors-primary-white: #ffffff;
@colors-secondary-green: #b4bb00;
@colors-secondary-lime: #b6ce2f;
@colors-secondary-yellow: #edd32d;
@colors-secondary-darkbrown: #4f3f35;
@colors-secondary-brown: #ac846c;
@colors-secondary-orange: #e86d02;
@colors-secondary-darkblue: #14697c;
@colors-secondary-blue: #1eaece;
@colors-secondary-turqouise: #33d0ca;
@colors-secondary-red: #dd0000;
@colors-secondary-pink: #ea4c89;
@colors-secondary-purple: #8b008b;
@colors-primary: Black: #101010, 
Dark: #1a1b1a, 
Midgray: #7f7f7f, 
Offwhite: #f7f7f7, 
White: #ffffff;
@colors-secondary: Green: #b4bb00, 
Lime: #b6ce2f, 
Yellow: #edd32d, 
Darkbrown: #4f3f35, 
Brown: #ac846c, 
Orange: #e86d02, 
Darkblue: #14697c, 
Blue: #1eaece, 
Turqouise: #33d0ca, 
Red: #dd0000, 
Pink: #ea4c89, 
Purple: #8b008b;