$assets-h1-design-size: 0;
$assets-h1-font-size: 1;
$assets-h1-font-family: 2;
$assets-h1-font-weight: 3;
$assets-h1-text-transform: 4;
$assets-h1-line-height: 5;
$assets-h1-font-size-min: 6;
$assets-h1-font-size-max: 7;
$assets-h1-letter-spacing: 8;
$assets-h2-design-size: 9;
$assets-h2-font-size: 10;
$assets-h2-font-family: 11;
$assets-h2-font-weight: 12;
$assets-h2-text-transform: 13;
$assets-h2-line-height: 14;
$assets-h2-font-size-min: 15;
$assets-h2-font-size-max: 16;
$assets-h2-letter-spacing: 17;
$assets-h3-design-size: 18;
$assets-h3-font-size: 19;
$assets-h3-font-family: 20;
$assets-h3-font-weight: 21;
$assets-h3-text-transform: 22;
$assets-h3-line-height: 23;
$assets-h3-font-size-min: 24;
$assets-h3-font-size-max: 25;
$assets-h3-letter-spacing: 26;
$assets-h4-design-size: 27;
$assets-h4-font-size: 28;
$assets-h4-font-family: 29;
$assets-h4-font-weight: 30;
$assets-h4-text-transform: 31;
$assets-h4-line-height: 32;
$assets-h4-font-size-min: 33;
$assets-h4-font-size-max: 34;
$assets-h4-letter-spacing: 35;
$assets-h5-design-size: 36;
$assets-h5-font-size: 37;
$assets-h5-font-family: 38;
$assets-h5-font-weight: 39;
$assets-h5-text-transform: 40;
$assets-h5-line-height: 41;
$assets-h5-font-size-min: 42;
$assets-h5-font-size-max: 43;
$assets-h5-letter-spacing: 44;