@mixin bgBorder($color, $position){
	// Set background tile
	$bg-image: linear-gradient($color,$color); //
	$bg-size: 20px_20px; //
	$bg-sizes: ();	//
	$bg-images: (); //
	$bg-repeats: (); //
	$bg-positions: (); //

	// Set background tile
	@if length($position) > 1{
		@for $i from 1 through length($position){
			$bg-images: append($bg-images,$bg-image);
			@if nth($position,$i) == 1{
				$bg-sizes: append($bg-sizes,$bg-size);
			} @else{
				$bg-sizes: append($bg-sizes,0_0);
			}
			@if $i == 1{
				$bg-repeats: append($bg-repeats,repeat-x); $bg-positions: append($bg-positions,top/left);
			}
			@if $i == 2{
				$bg-repeats: append($bg-repeats,repeat-y); $bg-positions: append($bg-positions,top/right);
			}
			@if $i == 3{
				$bg-repeats: append($bg-repeats,repeat-x); $bg-positions: append($bg-positions,bottom/left);
			}
			@if $i == 4{
				$bg-repeats: append($bg-repeats,repeat-y); $bg-positions: append($bg-positions,top/left);
			}
		}
	} @else{
		$bg-sizes: append($bg-sizes,$bg-size); $bg-images: append($bg-images,$bg-image);
		@if $position == "top"{
			$bg-positions: append($bg-positions,top-left); $bg-repeats: append($bg-repeats,repeat/x);
		}
		@if position == "right"{
			$bg-positions: append($bg-positions,top-right); $bg-repeats: append($bg-repeats,repeat/y);
		}
		@if position == "bottom"{
			$bg-positions: append($bg-positions,bottom-left); $bg-repeats: append($bg-repeats,repeat/x);
		}
		@if position == "left"{
			$bg-positions: append($bg-positions,top-left); $bg-repeats: append($bg-repeats,repeat/y);
		}
	}
	// Set Backgrounds
	background-image: flatten($bg-images,", ","/"); background-size: flatten($bg-sizes,", ","_"); background-repeat: flatten($bg-repeats,", ","/"); background-position: flatten($bg-positions,", ","/");
}
