$colors-primary-khblack: #101010 !default; //
$colors-primary-khdark: #1a1b1a !default; //
$colors-primary-khmidgray: #7f7f7f !default; //
$colors-primary-khlightgray: #e0e0e0 !default; //
$colors-primary-khoffwhite: #f7f7f7 !default; //
$colors-primary-khwhite: #ffffff !default; //
$colors-secondary-khgreen: #b4bb00 !default; //
$colors-secondary-khlime: #b6ce2f !default; //
$colors-secondary-khyellow: #edd32d !default; //
$colors-secondary-khdarkbrown: #4f3f35 !default; //
$colors-secondary-khbrown: #ac846c !default; //
$colors-secondary-khorange: #e86d02 !default; //
$colors-secondary-khdarkblue: #14697c !default; //
$colors-secondary-khblue: #1eaece !default; //
$colors-secondary-khturqouise: #33d0ca !default; //
$colors-secondary-khred: #dd0000 !default; //
$colors-secondary-khpink: #ea4c89 !default; //
$colors-secondary-khpurple: #8b008b !default; //
$colors-primary: (
	"khBlack": #101010, 
	"khDark": #1a1b1a, 
	"khMidgray": #7f7f7f, 
	"khLightgray": #e0e0e0, 
	"khOffwhite": #f7f7f7, 
	"khWhite": #ffffff
) !default; //, 
$colors-secondary: (
	"khGreen": #b4bb00, 
	"khLime": #b6ce2f, 
	"khYellow": #edd32d, 
	"khDarkbrown": #4f3f35, 
	"khBrown": #ac846c, 
	"khOrange": #e86d02, 
	"khDarkblue": #14697c, 
	"khBlue": #1eaece, 
	"khTurqouise": #33d0ca, 
	"khRed": #dd0000, 
	"khPink": #ea4c89, 
	"khPurple": #8b008b
) !default; //