$assets-flags-pn-x: -624 !default; //
$assets-flags-pn-y: -480 !default; //
$assets-flags-ge-x: -528 !default; //
$assets-flags-ge-y: -192 !default; //
$assets-flags-mu-x: -144 !default; //
$assets-flags-mu-y: -432 !default; //
$assets-flags-nl-x: -720 !default; //
$assets-flags-nl-y: -432 !default; //
$assets-flags-la-x: -336 !default; //
$assets-flags-la-y: -336 !default; //
$assets-flags-nc-x: -480 !default; //
$assets-flags-nc-y: -432 !default; //
$assets-flags-ps-x: -720 !default; //
$assets-flags-ps-y: -480 !default; //
$assets-flags-om-x: -240 !default; //
$assets-flags-om-y: -480 !default; //
$assets-flags-ke-x: -576 !default; //
$assets-flags-ke-y: -288 !default; //
$assets-flags-ci-x: -384 !default; //
$assets-flags-ci-y: -96 !default; //
$assets-flags-sm-x: -96 !default; //
$assets-flags-sm-y: -576 !default; //
$assets-flags-gm-x: 0 !default; //
$assets-flags-gm-y: -240 !default; //
$assets-flags-bh-x: -288 !default; //
$assets-flags-bh-y: -48 !default; //
$assets-flags-pg-x: -432 !default; //
$assets-flags-pg-y: -480 !default; //
$assets-flags-lr-x: -576 !default; //
$assets-flags-lr-y: -336 !default; //
$assets-flags-rs-x: -240 !default; //
$assets-flags-rs-y: -528 !default; //
$assets-flags-co-x: -624 !default; //
$assets-flags-co-y: -96 !default; //
$assets-flags-gt-x: -240 !default; //
$assets-flags-gt-y: -240 !default; //
$assets-flags-is-x: -288 !default; //
$assets-flags-is-y: -288 !default; //
$assets-flags-mx-x: -288 !default; //
$assets-flags-mx-y: -432 !default; //
$assets-flags-sv-x: -384 !default; //
$assets-flags-sv-y: -576 !default; //
$assets-flags-yt-x: -480 !default; //
$assets-flags-yt-y: -672 !default; //
$assets-flags-zw-x: -624 !default; //
$assets-flags-zw-y: -672 !default; //
$assets-flags-fi-x: -96 !default; //
$assets-flags-fi-y: -192 !default; //
$assets-flags-td-x: -576 !default; //
$assets-flags-td-y: -576 !default; //
$assets-flags-qa-x: -144 !default; //
$assets-flags-qa-y: -528 !default; //
$assets-flags-gd-x: -480 !default; //
$assets-flags-gd-y: -192 !default; //
$assets-flags-mf-x: -288 !default; //
$assets-flags-mf-y: -384 !default; //
$assets-flags-tm-x: -144 !default; //
$assets-flags-tm-y: -624 !default; //
$assets-flags-es-x: -720 !default; //
$assets-flags-es-y: -144 !default; //
$assets-flags-th-x: -720 !default; //
$assets-flags-th-y: -576 !default; //
$assets-flags-pe-x: -336 !default; //
$assets-flags-pe-y: -480 !default; //
$assets-flags-aw-x: -624 !default; //
$assets-flags-aw-y: 0 !default; //
$assets-flags-tw-x: -432 !default; //
$assets-flags-tw-y: -624 !default; //
$assets-flags-am-x: -288 !default; //
$assets-flags-am-y: 0 !default; //
$assets-flags-jm-x: -432 !default; //
$assets-flags-jm-y: -288 !default; //
$assets-flags-sl-x: -48 !default; //
$assets-flags-sl-y: -576 !default; //
$assets-flags-ly-x: -48 !default; //
$assets-flags-ly-y: -384 !default; //
$assets-flags-an-x: -336 !default; //
$assets-flags-an-y: 0 !default; //
$assets-flags-bf-x: -192 !default; //
$assets-flags-bf-y: -48 !default; //
$assets-flags-so-x: -192 !default; //
$assets-flags-so-y: -576 !default; //
$assets-flags-us-x: -624 !default; //
$assets-flags-us-y: -624 !default; //
$assets-flags-be-x: -144 !default; //
$assets-flags-be-y: -48 !default; //
$assets-flags-mw-x: -240 !default; //
$assets-flags-mw-y: -432 !default; //
$assets-flags-se-x: -576 !default; //
$assets-flags-se-y: -528 !default; //
$assets-flags-tt-x: -336 !default; //
$assets-flags-tt-y: -624 !default; //
$assets-flags-ht-x: -576 !default; //
$assets-flags-ht-y: -240 !default; //
$assets-flags-kr-x: -144 !default; //
$assets-flags-kr-y: -336 !default; //
$assets-flags-mo-x: -624 !default; //
$assets-flags-mo-y: -384 !default; //
$assets-flags-cz-x: -144 !default; //
$assets-flags-cz-y: -144 !default; //
$assets-flags-ua-x: -528 !default; //
$assets-flags-ua-y: -624 !default; //
$assets-flags-ws-x: -384 !default; //
$assets-flags-ws-y: -672 !default; //
$assets-flags-no-x: 0 !default; //
$assets-flags-no-y: -480 !default; //
$assets-flags-nf-x: -576 !default; //
$assets-flags-nf-y: -432 !default; //
$assets-flags-cy-x: -96 !default; //
$assets-flags-cy-y: -144 !default; //
$assets-flags-eh-x: -624 !default; //
$assets-flags-eh-y: -144 !default; //
$assets-flags-ch-x: -336 !default; //
$assets-flags-ch-y: -96 !default; //
$assets-flags-nz-x: -192 !default; //
$assets-flags-nz-y: -480 !default; //
$assets-flags-pr-x: -672 !default; //
$assets-flags-pr-y: -480 !default; //
$assets-flags-ls-x: -624 !default; //
$assets-flags-ls-y: -336 !default; //
$assets-flags-by-x: -48 !default; //
$assets-flags-by-y: -96 !default; //
$assets-flags-ga-x: -384 !default; //
$assets-flags-ga-y: -192 !default; //
$assets-flags-jp-x: -528 !default; //
$assets-flags-jp-y: -288 !default; //
$assets-flags-lt-x: -672 !default; //
$assets-flags-lt-y: -336 !default; //
$assets-flags-ss-x: -288 !default; //
$assets-flags-ss-y: -576 !default; //
$assets-flags-sz-x: -480 !default; //
$assets-flags-sz-y: -576 !default; //
$assets-flags-hk-x: -432 !default; //
$assets-flags-hk-y: -240 !default; //
$assets-flags-cw-x: -48 !default; //
$assets-flags-cw-y: -144 !default; //
$assets-flags-cl-x: -480 !default; //
$assets-flags-cl-y: -96 !default; //
$assets-flags-tf-x: -624 !default; //
$assets-flags-tf-y: -576 !default; //
$assets-flags-eu-x: -48 !default; //
$assets-flags-eu-y: -192 !default; //
$assets-flags-vi-x: -192 !default; //
$assets-flags-vi-y: -672 !default; //
$assets-flags-tj-x: 0 !default; //
$assets-flags-tj-y: -624 !default; //
$assets-flags-ml-x: -480 !default; //
$assets-flags-ml-y: -384 !default; //
$assets-flags-mg-x: -336 !default; //
$assets-flags-mg-y: -384 !default; //
$assets-flags-dm-x: -336 !default; //
$assets-flags-dm-y: -144 !default; //
$assets-flags-gh-x: -624 !default; //
$assets-flags-gh-y: -192 !default; //
$assets-flags-ro-x: -192 !default; //
$assets-flags-ro-y: -528 !default; //
$assets-flags-pw-x: -48 !default; //
$assets-flags-pw-y: -528 !default; //
$assets-flags-cu-x: -720 !default; //
$assets-flags-cu-y: -96 !default; //
$assets-flags-sa-x: -384 !default; //
$assets-flags-sa-y: -528 !default; //
$assets-flags-lv-x: 0 !default; //
$assets-flags-lv-y: -384 !default; //
$assets-flags-mc-x: -144 !default; //
$assets-flags-mc-y: -384 !default; //
$assets-flags-sd-x: -528 !default; //
$assets-flags-sd-y: -528 !default; //
$assets-flags-mt-x: -96 !default; //
$assets-flags-mt-y: -432 !default; //
$assets-flags-cd-x: -192 !default; //
$assets-flags-cd-y: -96 !default; //
$assets-flags-lk-x: -528 !default; //
$assets-flags-lk-y: -336 !default; //
$assets-flags-gq-x: -96 !default; //
$assets-flags-gq-y: -240 !default; //
$assets-flags-ag-x: -144 !default; //
$assets-flags-ag-y: 0 !default; //
$assets-flags-za-x: -528 !default; //
$assets-flags-za-y: -672 !default; //
$assets-flags-ng-x: -624 !default; //
$assets-flags-ng-y: -432 !default; //
$assets-flags-sk-x: 0 !default; //
$assets-flags-sk-y: -576 !default; //
$assets-flags-pa-x: -288 !default; //
$assets-flags-pa-y: -480 !default; //
$assets-flags-np-x: -48 !default; //
$assets-flags-np-y: -480 !default; //
$assets-flags-gu-x: -288 !default; //
$assets-flags-gu-y: -240 !default; //
$assets-flags-bz-x: -96 !default; //
$assets-flags-bz-y: -96 !default; //
$assets-flags-tv-x: -384 !default; //
$assets-flags-tv-y: -624 !default; //
$assets-flags-li-x: -480 !default; //
$assets-flags-li-y: -336 !default; //
$assets-flags-ma-x: -96 !default; //
$assets-flags-ma-y: -384 !default; //
$assets-flags-az-x: -720 !default; //
$assets-flags-az-y: 0 !default; //
$assets-flags-ba-x: 0 !default; //
$assets-flags-ba-y: -48 !default; //
$assets-flags-ec-x: -480 !default; //
$assets-flags-ec-y: -144 !default; //
$assets-flags-my-x: -336 !default; //
$assets-flags-my-y: -432 !default; //
$assets-flags-hu-x: -624 !default; //
$assets-flags-hu-y: -240 !default; //
$assets-flags-tl-x: -96 !default; //
$assets-flags-tl-y: -624 !default; //
$assets-flags-tk-x: -48 !default; //
$assets-flags-tk-y: -624 !default; //
$assets-flags-il-x: -48 !default; //
$assets-flags-il-y: -288 !default; //
$assets-flags-tg-x: -672 !default; //
$assets-flags-tg-y: -576 !default; //
$assets-flags-do-x: -384 !default; //
$assets-flags-do-y: -144 !default; //
$assets-flags-cf-x: -240 !default; //
$assets-flags-cf-y: -96 !default; //
$assets-flags-bo-x: -576 !default; //
$assets-flags-bo-y: -48 !default; //
$assets-flags-ai-x: -192 !default; //
$assets-flags-ai-y: 0 !default; //
$assets-flags-vc-x: -48 !default; //
$assets-flags-vc-y: -672 !default; //
$assets-flags-dk-x: -288 !default; //
$assets-flags-dk-y: -144 !default; //
$assets-flags-jo-x: -480 !default; //
$assets-flags-jo-y: -288 !default; //
$assets-flags-as-x: -480 !default; //
$assets-flags-as-y: 0 !default; //
$assets-flags-bw-x: 0 !default; //
$assets-flags-bw-y: -96 !default; //
$assets-flags-it-x: -336 !default; //
$assets-flags-it-y: -288 !default; //
$assets-flags-sr-x: -240 !default; //
$assets-flags-sr-y: -576 !default; //
$assets-flags-ao-x: -384 !default; //
$assets-flags-ao-y: 0 !default; //
$assets-flags-sh-x: -672 !default; //
$assets-flags-sh-y: -528 !default; //
$assets-flags-dz-x: -432 !default; //
$assets-flags-dz-y: -144 !default; //
$assets-flags-ye-x: -432 !default; //
$assets-flags-ye-y: -672 !default; //
$assets-flags-ck-x: -432 !default; //
$assets-flags-ck-y: -96 !default; //
$assets-flags-uz-x: -720 !default; //
$assets-flags-uz-y: -624 !default; //
$assets-flags-kg-x: -624 !default; //
$assets-flags-kg-y: -288 !default; //
$assets-flags-ni-x: -672 !default; //
$assets-flags-ni-y: -432 !default; //
$assets-flags-vn-x: -240 !default; //
$assets-flags-vn-y: -672 !default; //
$assets-flags-ir-x: -240 !default; //
$assets-flags-ir-y: -288 !default; //
$assets-flags-gi-x: -672 !default; //
$assets-flags-gi-y: -192 !default; //
$assets-flags-lb-x: -384 !default; //
$assets-flags-lb-y: -336 !default; //
$assets-flags-md-x: -192 !default; //
$assets-flags-md-y: -384 !default; //
$assets-flags-vu-x: -288 !default; //
$assets-flags-vu-y: -672 !default; //
$assets-flags-kp-x: -96 !default; //
$assets-flags-kp-y: -336 !default; //
$assets-flags-tn-x: -192 !default; //
$assets-flags-tn-y: -624 !default; //
$assets-flags-va-x: 0 !default; //
$assets-flags-va-y: -672 !default; //
$assets-flags-ms-x: -48 !default; //
$assets-flags-ms-y: -432 !default; //
$assets-flags-gb-x: -432 !default; //
$assets-flags-gb-y: -192 !default; //
$assets-flags-na-x: -432 !default; //
$assets-flags-na-y: -432 !default; //
$assets-flags-tc-x: -528 !default; //
$assets-flags-tc-y: -576 !default; //
$assets-flags-bi-x: -336 !default; //
$assets-flags-bi-y: -48 !default; //
$assets-flags-ky-x: -240 !default; //
$assets-flags-ky-y: -336 !default; //
$assets-flags-af-x: -96 !default; //
$assets-flags-af-y: 0 !default; //
$assets-flags-fo-x: -288 !default; //
$assets-flags-fo-y: -192 !default; //
$assets-flags-mm-x: -528 !default; //
$assets-flags-mm-y: -384 !default; //
$assets-flags-er-x: -672 !default; //
$assets-flags-er-y: -144 !default; //
$assets-flags-bd-x: -96 !default; //
$assets-flags-bd-y: -48 !default; //
$assets-flags-bg-x: -240 !default; //
$assets-flags-bg-y: -48 !default; //
$assets-flags-fm-x: -240 !default; //
$assets-flags-fm-y: -192 !default; //
$assets-flags-bm-x: -480 !default; //
$assets-flags-bm-y: -48 !default; //
$assets-flags-sc-x: -480 !default; //
$assets-flags-sc-y: -528 !default; //
$assets-flags-bb-x: -48 !default; //
$assets-flags-bb-y: -48 !default; //
$assets-flags-je-x: -384 !default; //
$assets-flags-je-y: -288 !default; //
$assets-flags-fk-x: -192 !default; //
$assets-flags-fk-y: -192 !default; //
$assets-flags-me-x: -240 !default; //
$assets-flags-me-y: -384 !default; //
$assets-flags-pk-x: -528 !default; //
$assets-flags-pk-y: -480 !default; //
$assets-flags-bl-x: -432 !default; //
$assets-flags-bl-y: -48 !default; //
$assets-flags-hr-x: -528 !default; //
$assets-flags-hr-y: -240 !default; //
$assets-flags-mq-x: -720 !default; //
$assets-flags-mq-y: -384 !default; //
$assets-flags-cv-x: 0 !default; //
$assets-flags-cv-y: -144 !default; //
$assets-flags-al-x: -240 !default; //
$assets-flags-al-y: 0 !default; //
$assets-flags-kw-x: -192 !default; //
$assets-flags-kw-y: -336 !default; //
$assets-flags-uy-x: -672 !default; //
$assets-flags-uy-y: -624 !default; //
$assets-flags-wf-x: -336 !default; //
$assets-flags-wf-y: -672 !default; //
$assets-flags-kn-x: -48 !default; //
$assets-flags-kn-y: -336 !default; //
$assets-flags-gg-x: -576 !default; //
$assets-flags-gg-y: -192 !default; //
$assets-flags-km-x: 0 !default; //
$assets-flags-km-y: -336 !default; //
$assets-flags-mh-x: -384 !default; //
$assets-flags-mh-y: -384 !default; //
$assets-flags-fr-x: -336 !default; //
$assets-flags-fr-y: -192 !default; //
$assets-flags-rw-x: -336 !default; //
$assets-flags-rw-y: -528 !default; //
$assets-flags-au-x: -576 !default; //
$assets-flags-au-y: 0 !default; //
$assets-flags-mz-x: -384 !default; //
$assets-flags-mz-y: -432 !default; //
$assets-flags-gl-x: -720 !default; //
$assets-flags-gl-y: -192 !default; //
$assets-flags-py-x: -96 !default; //
$assets-flags-py-y: -528 !default; //
$assets-flags-sy-x: -432 !default; //
$assets-flags-sy-y: -576 !default; //
$assets-flags-ee-x: -528 !default; //
$assets-flags-ee-y: -144 !default; //
$assets-flags-gn-x: -48 !default; //
$assets-flags-gn-y: -240 !default; //
$assets-flags-ad-x: 0 !default; //
$assets-flags-ad-y: 0 !default; //
$assets-flags-mr-x: 0 !default; //
$assets-flags-mr-y: -432 !default; //
$assets-flags-nu-x: -144 !default; //
$assets-flags-nu-y: -480 !default; //
$assets-flags-ar-x: -432 !default; //
$assets-flags-ar-y: 0 !default; //
$assets-flags-ca-x: -144 !default; //
$assets-flags-ca-y: -96 !default; //
$assets-flags-cr-x: -672 !default; //
$assets-flags-cr-y: -96 !default; //
$assets-flags-sn-x: -144 !default; //
$assets-flags-sn-y: -576 !default; //
$assets-flags-et-x: 0 !default; //
$assets-flags-et-y: -192 !default; //
$assets-flags-at-x: -528 !default; //
$assets-flags-at-y: 0 !default; //
$assets-flags-cn-x: -576 !default; //
$assets-flags-cn-y: -96 !default; //
$assets-flags-in-x: -144 !default; //
$assets-flags-in-y: -288 !default; //
$assets-flags-iq-x: -192 !default; //
$assets-flags-iq-y: -288 !default; //
$assets-flags-gy-x: -384 !default; //
$assets-flags-gy-y: -240 !default; //
$assets-flags-ki-x: -720 !default; //
$assets-flags-ki-y: -288 !default; //
$assets-flags-de-x: -192 !default; //
$assets-flags-de-y: -144 !default; //
$assets-flags-to-x: -240 !default; //
$assets-flags-to-y: -624 !default; //
$assets-flags-si-x: -720 !default; //
$assets-flags-si-y: -528 !default; //
$assets-flags-ax-x: -672 !default; //
$assets-flags-ax-y: 0 !default; //
$assets-flags-ve-x: -96 !default; //
$assets-flags-ve-y: -672 !default; //
$assets-flags-bn-x: -528 !default; //
$assets-flags-bn-y: -48 !default; //
$assets-flags-ne-x: -528 !default; //
$assets-flags-ne-y: -432 !default; //
$assets-flags-ie-x: 0 !default; //
$assets-flags-ie-y: -288 !default; //
$assets-flags-gr-x: -144 !default; //
$assets-flags-gr-y: -240 !default; //
$assets-flags-tr-x: -288 !default; //
$assets-flags-tr-y: -624 !default; //
$assets-flags-bj-x: -384 !default; //
$assets-flags-bj-y: -48 !default; //
$assets-flags-lc-x: -432 !default; //
$assets-flags-lc-y: -336 !default; //
$assets-flags-st-x: -336 !default; //
$assets-flags-st-y: -576 !default; //
$assets-flags-dj-x: -240 !default; //
$assets-flags-dj-y: -144 !default; //
$assets-flags-fj-x: -144 !default; //
$assets-flags-fj-y: -192 !default; //
$assets-flags-pf-x: -384 !default; //
$assets-flags-pf-y: -480 !default; //
$assets-flags-gw-x: -336 !default; //
$assets-flags-gw-y: -240 !default; //
$assets-flags-mk-x: -432 !default; //
$assets-flags-mk-y: -384 !default; //
$assets-flags-ic-x: -672 !default; //
$assets-flags-ic-y: -240 !default; //
$assets-flags-ae-x: -48 !default; //
$assets-flags-ae-y: 0 !default; //
$assets-flags-br-x: -624 !default; //
$assets-flags-br-y: -48 !default; //
$assets-flags-cm-x: -528 !default; //
$assets-flags-cm-y: -96 !default; //
$assets-flags-pl-x: -576 !default; //
$assets-flags-pl-y: -480 !default; //
$assets-flags-kh-x: -672 !default; //
$assets-flags-kh-y: -288 !default; //
$assets-flags-kz-x: -288 !default; //
$assets-flags-kz-y: -336 !default; //
$assets-flags-sg-x: -624 !default; //
$assets-flags-sg-y: -528 !default; //
$assets-flags-lu-x: -720 !default; //
$assets-flags-lu-y: -336 !default; //
$assets-flags-nr-x: -96 !default; //
$assets-flags-nr-y: -480 !default; //
$assets-flags-cg-x: -288 !default; //
$assets-flags-cg-y: -96 !default; //
$assets-flags-bt-x: -720 !default; //
$assets-flags-bt-y: -48 !default; //
$assets-flags-pt-x: 0 !default; //
$assets-flags-pt-y: -528 !default; //
$assets-flags-tz-x: -480 !default; //
$assets-flags-tz-y: -624 !default; //
$assets-flags-sb-x: -432 !default; //
$assets-flags-sb-y: -528 !default; //
$assets-flags-mn-x: -576 !default; //
$assets-flags-mn-y: -384 !default; //
$assets-flags-mv-x: -192 !default; //
$assets-flags-mv-y: -432 !default; //
$assets-flags-ug-x: -576 !default; //
$assets-flags-ug-y: -624 !default; //
$assets-flags-gs-x: -192 !default; //
$assets-flags-gs-y: -240 !default; //
$assets-flags-eg-x: -576 !default; //
$assets-flags-eg-y: -144 !default; //
$assets-flags-hn-x: -480 !default; //
$assets-flags-hn-y: -240 !default; //
$assets-flags-zm-x: -576 !default; //
$assets-flags-zm-y: -672 !default; //
$assets-flags-vg-x: -144 !default; //
$assets-flags-vg-y: -672 !default; //
$assets-flags-im-x: -96 !default; //
$assets-flags-im-y: -288 !default; //
$assets-flags-ph-x: -480 !default; //
$assets-flags-ph-y: -480 !default; //
$assets-flags-id-x: -720 !default; //
$assets-flags-id-y: -240 !default; //
$assets-flags-mp-x: -672 !default; //
$assets-flags-mp-y: -384 !default; //
$assets-flags-bs-x: -672 !default; //
$assets-flags-bs-y: -48 !default; //
$assets-flags-ru-x: -288 !default; //
$assets-flags-ru-y: -528 !default; //
$assets-flags: (
	"pn": [object Object], 
	"ge": [object Object], 
	"mu": [object Object], 
	"nl": [object Object], 
	"la": [object Object], 
	"nc": [object Object], 
	"ps": [object Object], 
	"om": [object Object], 
	"ke": [object Object], 
	"ci": [object Object], 
	"sm": [object Object], 
	"gm": [object Object], 
	"bh": [object Object], 
	"pg": [object Object], 
	"lr": [object Object], 
	"rs": [object Object], 
	"co": [object Object], 
	"gt": [object Object], 
	"is": [object Object], 
	"mx": [object Object], 
	"sv": [object Object], 
	"yt": [object Object], 
	"zw": [object Object], 
	"fi": [object Object], 
	"td": [object Object], 
	"qa": [object Object], 
	"gd": [object Object], 
	"mf": [object Object], 
	"tm": [object Object], 
	"es": [object Object], 
	"th": [object Object], 
	"pe": [object Object], 
	"aw": [object Object], 
	"tw": [object Object], 
	"am": [object Object], 
	"jm": [object Object], 
	"sl": [object Object], 
	"ly": [object Object], 
	"an": [object Object], 
	"bf": [object Object], 
	"so": [object Object], 
	"us": [object Object], 
	"be": [object Object], 
	"mw": [object Object], 
	"se": [object Object], 
	"tt": [object Object], 
	"ht": [object Object], 
	"kr": [object Object], 
	"mo": [object Object], 
	"cz": [object Object], 
	"ua": [object Object], 
	"ws": [object Object], 
	"no": [object Object], 
	"nf": [object Object], 
	"cy": [object Object], 
	"eh": [object Object], 
	"ch": [object Object], 
	"nz": [object Object], 
	"pr": [object Object], 
	"ls": [object Object], 
	"by": [object Object], 
	"ga": [object Object], 
	"jp": [object Object], 
	"lt": [object Object], 
	"ss": [object Object], 
	"sz": [object Object], 
	"hk": [object Object], 
	"cw": [object Object], 
	"cl": [object Object], 
	"tf": [object Object], 
	"eu": [object Object], 
	"vi": [object Object], 
	"tj": [object Object], 
	"ml": [object Object], 
	"mg": [object Object], 
	"dm": [object Object], 
	"gh": [object Object], 
	"ro": [object Object], 
	"pw": [object Object], 
	"cu": [object Object], 
	"sa": [object Object], 
	"lv": [object Object], 
	"mc": [object Object], 
	"sd": [object Object], 
	"mt": [object Object], 
	"cd": [object Object], 
	"lk": [object Object], 
	"gq": [object Object], 
	"ag": [object Object], 
	"za": [object Object], 
	"ng": [object Object], 
	"sk": [object Object], 
	"pa": [object Object], 
	"np": [object Object], 
	"gu": [object Object], 
	"bz": [object Object], 
	"tv": [object Object], 
	"li": [object Object], 
	"ma": [object Object], 
	"az": [object Object], 
	"ba": [object Object], 
	"ec": [object Object], 
	"my": [object Object], 
	"hu": [object Object], 
	"tl": [object Object], 
	"tk": [object Object], 
	"il": [object Object], 
	"tg": [object Object], 
	"do": [object Object], 
	"cf": [object Object], 
	"bo": [object Object], 
	"ai": [object Object], 
	"vc": [object Object], 
	"dk": [object Object], 
	"jo": [object Object], 
	"as": [object Object], 
	"bw": [object Object], 
	"it": [object Object], 
	"sr": [object Object], 
	"ao": [object Object], 
	"sh": [object Object], 
	"dz": [object Object], 
	"ye": [object Object], 
	"ck": [object Object], 
	"uz": [object Object], 
	"kg": [object Object], 
	"ni": [object Object], 
	"vn": [object Object], 
	"ir": [object Object], 
	"gi": [object Object], 
	"lb": [object Object], 
	"md": [object Object], 
	"vu": [object Object], 
	"kp": [object Object], 
	"tn": [object Object], 
	"va": [object Object], 
	"ms": [object Object], 
	"gb": [object Object], 
	"na": [object Object], 
	"tc": [object Object], 
	"bi": [object Object], 
	"ky": [object Object], 
	"af": [object Object], 
	"fo": [object Object], 
	"mm": [object Object], 
	"er": [object Object], 
	"bd": [object Object], 
	"bg": [object Object], 
	"fm": [object Object], 
	"bm": [object Object], 
	"sc": [object Object], 
	"bb": [object Object], 
	"je": [object Object], 
	"fk": [object Object], 
	"me": [object Object], 
	"pk": [object Object], 
	"bl": [object Object], 
	"hr": [object Object], 
	"mq": [object Object], 
	"cv": [object Object], 
	"al": [object Object], 
	"kw": [object Object], 
	"uy": [object Object], 
	"wf": [object Object], 
	"kn": [object Object], 
	"gg": [object Object], 
	"km": [object Object], 
	"mh": [object Object], 
	"fr": [object Object], 
	"rw": [object Object], 
	"au": [object Object], 
	"mz": [object Object], 
	"gl": [object Object], 
	"py": [object Object], 
	"sy": [object Object], 
	"ee": [object Object], 
	"gn": [object Object], 
	"ad": [object Object], 
	"mr": [object Object], 
	"nu": [object Object], 
	"ar": [object Object], 
	"ca": [object Object], 
	"cr": [object Object], 
	"sn": [object Object], 
	"et": [object Object], 
	"at": [object Object], 
	"cn": [object Object], 
	"in": [object Object], 
	"iq": [object Object], 
	"gy": [object Object], 
	"ki": [object Object], 
	"de": [object Object], 
	"to": [object Object], 
	"si": [object Object], 
	"ax": [object Object], 
	"ve": [object Object], 
	"bn": [object Object], 
	"ne": [object Object], 
	"ie": [object Object], 
	"gr": [object Object], 
	"tr": [object Object], 
	"bj": [object Object], 
	"lc": [object Object], 
	"st": [object Object], 
	"dj": [object Object], 
	"fj": [object Object], 
	"pf": [object Object], 
	"gw": [object Object], 
	"mk": [object Object], 
	"ic": [object Object], 
	"ae": [object Object], 
	"br": [object Object], 
	"cm": [object Object], 
	"pl": [object Object], 
	"kh": [object Object], 
	"kz": [object Object], 
	"sg": [object Object], 
	"lu": [object Object], 
	"nr": [object Object], 
	"cg": [object Object], 
	"bt": [object Object], 
	"pt": [object Object], 
	"tz": [object Object], 
	"sb": [object Object], 
	"mn": [object Object], 
	"mv": [object Object], 
	"ug": [object Object], 
	"gs": [object Object], 
	"eg": [object Object], 
	"hn": [object Object], 
	"zm": [object Object], 
	"vg": [object Object], 
	"im": [object Object], 
	"ph": [object Object], 
	"id": [object Object], 
	"mp": [object Object], 
	"bs": [object Object], 
	"ru": [object Object]
) !default; //