$assets-nav-mobile-item-height: 45px !default; //
$assets-nav-mobile-show-count: 4 !default; //
$assets-nav-hamburger-width: 1rem !default; //
$assets-nav-hamburger-height: 2px !default; //
$assets-nav-hamburger-gutter: 3px !default; //
$assets-nav-hamburger-color: #ffffff !default; //
$assets-nav-hamburger-roundness: 0 !default; //
$assets-nav-hamburger-transition-duration: .3s !default; //
$assets-nav-mobile: (
	"item-height": 45px, 
	"show-count": 4
) !default; //, 
$assets-nav-hamburger: (
	"width": 1rem, 
	"height": 2px, 
	"gutter": 3px, 
	"color": #ffffff, 
	"roundness": 0, 
	"transition-duration": .3s
) !default; //