%#{$prefix}productCard{ width: grid(8);
	// content: "";
	// &--overview{
	// 	width: 100%; display: grid; grid-template-columns: minmax(100px, min-content) calc(100vw - 463px); grid-auto-rows: minmax(10vh, auto); grid-column-gap: 2px; grid-row-gap: 2px; background-color: color(Black);
	// }
	// &--block{
		background-color: color(White); padding: grid(1);
		&__text{ color: color(Black);
			h2{ font-size: grid(32/80); @include min-fontsize($assets-h4-font-size-value,$assets-h4-font-size-min); @include max-fontsize($assets-h4-font-size-value,$assets-h4-font-size-max); }
			h3{ }
			h4{ }
		}
		&__image{
			width: 100%; position: relative;
			@include calc("width","100% + #{grid(2)}"); margin-left: -grid(1); padding-bottom: 20px;
			.bike-shadow{
				height: 40px; width: 90%; overflow: hidden; filter: blur(23px) grayscale(100%); bottom: 21px; transform: scale(1,0.1); position: relative; left: 5%;
				img{
					position: absolute; bottom: 0; height: 600%; width: 100%; max-width: 90%;
				}
			}

			.slick-slide{
				height: grid(6); opacity: 0;
				&.slick-current{
					opacity: 1;
				}
				img{
					max-width: 100%;
				}
				>div,>div>div{
					height: 100%; width: 100%;
				}
			}
			@include calc("width","100% + #{grid(2)}"); margin-left: -grid(1); padding: 0 grid(1);
			&__image-figure{
				width: 100%; @include calc("width","100% - #{$grid-2}"); top: 0; position: absolute; left: grid(1); height: 100%;
			}
		}
		&__settings{
			display: flex; padding: 1rem 0;
			div{
				text-align: right; width: 50%;
				&:first-child{
					text-align: left;
				}
			}
		}
		&__bottom{
			border-top: 1px solid color(Midgray); padding: grid(0.5 0 0 0);
		}
	// }
}
