@assets-button-font-family: 'Roboto Condensed';
@assets-button-background-color: undefined;
@assets-button-padding: 4.166666666666667vw 8.333333333333334vw 12.5vw 20.833333333333336vw;
@assets-button-text-transform: uppercase;
@assets-button-font-size: 14px;
@assets-button-line-height: 1;
@assets-button-font-weight: 600;
@assets-button-special-font-family: 'Roboto';
@assets-button-special-background-color: 'transparent';
@assets-button-special-padding: 4.166666666666667vw 8.333333333333334vw 12.5vw 20.833333333333336vw;
@assets-button-special-text-transform: none;
@assets-button-special-font-size: 16px;
@assets-button-special-line-height: 1;
@assets-button-special-font-weight: 400;
