@colors-primary-khblack: #101010;
@colors-primary-khdark: #1a1b1a;
@colors-primary-khmidgray: #7f7f7f;
@colors-primary-khlightgray: #e0e0e0;
@colors-primary-khoffwhite: #f7f7f7;
@colors-primary-khwhite: #ffffff;
@colors-secondary-khgreen: #b4bb00;
@colors-secondary-khlime: #b6ce2f;
@colors-secondary-khyellow: #edd32d;
@colors-secondary-khdarkbrown: #4f3f35;
@colors-secondary-khbrown: #ac846c;
@colors-secondary-khorange: #e86d02;
@colors-secondary-khdarkblue: #14697c;
@colors-secondary-khblue: #1eaece;
@colors-secondary-khmarineblue: #4c5971;
@colors-secondary-khturqouise: #33d0ca;
@colors-secondary-khred: #dd0000;
@colors-secondary-khpink: #ea4c89;
@colors-secondary-khpurple: #8b008b;
@colors-primary: khBlack #101010, 
khDark #1a1b1a, 
khMidgray #7f7f7f, 
khLightgray #e0e0e0, 
khOffwhite #f7f7f7, 
khWhite #ffffff; 
@colors-secondary: khGreen #b4bb00, 
khLime #b6ce2f, 
khYellow #edd32d, 
khDarkbrown #4f3f35, 
khBrown #ac846c, 
khOrange #e86d02, 
khDarkblue #14697c, 
khBlue #1eaece, 
khMarineblue #4c5971, 
khTurqouise #33d0ca, 
khRed #dd0000, 
khPink #ea4c89, 
khPurple #8b008b;