@assets-elements-color-dot-class: 'colorDot';
@assets-elements-color-dot-width: 16px;
@assets-elements-color-dot-height: 16px;
@assets-elements-color-dot-gutter: 4px;
@assets-elements-color-dot-active-scale: 1.25;
@assets-elements-color-dot-margin: 0 0 0 14px;
@assets-elements-color-dot-shadow-brightness: 80;
@assets-elements-color-dot-shadow-size: 0 0 2px 0;
@assets-elements-color-dot-shadow-color: rgba(16,16,16,0.25);
@assets-elements-frame-select-class: 'frameSelect';
@assets-elements-frame-select-width: 25px;
@assets-elements-frame-select-height: 16px;
@assets-elements-color-dot: class 'colorDot', 
width 16px, 
height 16px, 
gutter 4px, 
active-scale 1.25, 
margin 0 0 0 14px, 
shadow-brightness 80, 
shadow-size 0 0 2px 0, 
shadow-color rgba(16,16,16,0.25); 
@assets-elements-frame-select: class 'frameSelect', 
width 25px, 
height 16px;