.assets-content() {
	//border: 1px solid red;
}

.assets-content-ul() {
	li {
		padding-left: 1rem;
		position: relative;

		&:before{
			.setColor(@colors-primary-black, background-color, true);
			content: "";
			width: 6px;
			height: 6px;
			display: block;
			top: 0.5rem;
			position: absolute;
			left: 0;
			border-radius: 50%;
		}

		& + li {
			margin-top: 0.5rem;
		}
	}
}
