%#{$prefix}color-dot{
	position: relative; display: inline-block;

	input[type="radio"]{
		@include input-radio(rem(20),rem(20),0, rem(5), var(--this-color), color(White));
		@include input-radio-body{
			box-shadow: none;
		}
	}
	&+.color-dot{
		margin-left: rem(20);
	}
	@extend %#{$prefix}tooltip;
}
