%#{$prefix}-color-dot{
	width: 1rem; height: 1rem; background-color: var(--this-color); display: inline-block; border-radius: 50%; position: relative;

	&:before{
		position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); width: 0.5rem; height: 0.5rem; background-color: color(White);
	}
}
