%#{$prefix}input{
	border: 1px solid color(Black,0.25); border-radius: 2px; line-height: 1rem; font-size: 1rem; padding: 0.5rem 1rem;
	@extend %#{$prefix}body-font-family; font-weight: $font-regular; width: 100%; caret-color: color(Black,0.5);

	/* --------------------- */
	/* 			states 					 */
	/* --------------------- */
	&:before{
		display: block; width: 100px; height: 100px; background-color: red;
	}
	&:hover{
		border: 1px solid color(Black,0.5);
	}
	&:focus{
		border: 1px solid color(Black,1); box-shadow: 0 0 0.5rem 0 color(Black,0.1);
		&:hover{
			border: 1px solid color(Black,1);
		}
	}
}
%#{$prefix}input{
	&-color{
		@extend %#{$prefix}input;
		&{
			padding: 0; -webkit-appearance: none; width: 2rem; height: 2rem; padding: 0.25rem; border-radius: 50%;
		}
		&::-webkit-color-swatch-wrapper{
			display: block; margin: 0; border: none; padding: 0; width: 2rem; height: 2rem; border-radius: 2px;
		}
		&::-webkit-color-swatch{
			display: block; width: 1.4rem; height: 1.4rem; border: none; border-radius: 50%#{$prefix};
		}
	}
	&-date{
		@extend %#{$prefix}input;
	}
	&-datetime-local{
		@extend %#{$prefix}input;
	}
	&-email{
		@extend %#{$prefix}input;
	}
	&-file{
		@extend %#{$prefix}input;
	}
	&-image{
		@extend %#{$prefix}input;
	}
	&-month{
		@extend %#{$prefix}input;
	}
	&-number{
		@extend %#{$prefix}input;
		&::-webkit-inner-spin-button{
			border: 1px solid red; width: 10px; height: 20px; display: none;
		}
	}
	&-password{
		@extend %#{$prefix}input; font-size: 1.25rem; font-family: caption; letter-spacing: 3px;
	}
	&-search{
		@extend %#{$prefix}input;
	}
	&-tel{
		@extend %#{$prefix}input;
	}
	&-text{
		@extend %#{$prefix}input;
	}
	&-time{
		@extend %#{$prefix}input;
	}
	&-url{
		@extend %#{$prefix}input;
	}
	&-week{
		@extend %#{$prefix}input;
	}
}

*{
	%#{$prefix}input-checkbox{
		@include input-checkbox(1rem,1rem,0, 0.25rem, color(White), color(Black), 50%);

		@include input-checkbox-body{
			box-shadow: 0 0 0 1px color(Black,0.25) inset;
		}
		@include input-checkbox-body-checked{
			background-color: color(Black);
		}
		@include input-checkbox-check{
			transform: scale(0.7) rotate(-45deg) translateY(0rem); background: none; border-left: 2px solid black; border-bottom: 2px solid black; border-radius: 0; width: 8px; height: 4px; margin: 0; top: 3px; left: 3px; opacity: 0.15; transition: 0.1s;
		}
		@include input-checkbox-check-checked{
			transform: scale(1) rotate(-45deg) translateY(0rem); border-color: white;
		}
		@include input-checkbox-label{
			padding-left: 2rem;
		}
	}
}
*{
	%#{$prefix}input-radio{
		display: block;
		@include input-radio(1rem,1rem,0, 0.25rem, color(White), color(Black));
		@include input-radio-body{
			box-shadow: 0 0 0 1px color(Black,0.5) inset; margin-right: 1rem;
		}
		@include input-radio-check{
			border-radius: 50%;
		}
		@include input-radio-label{
			padding-left: 2rem;
		}
	}
}

%#{$prefix}dark-form{
	content: "";
	&-container{
		display: flex; width: 100%;
		label{
			@include assets-menu; display: inline-block; padding-right: 20px;
		}
	}

	&-input{
		background: none; color: color(White); transition: padding-left #{$assets-transition} #{$assets-bezier};
		@include assets-h4; caret-color: color(White,0.5);
		&:placeholder-shown{
			padding-left: 0;
		}
		&:focus{
			&:placeholder-shown{
				padding-left: 1rem;
			}
		}
		// Only for Chrome & Safari
		&::-webkit-search-cancel-button{
			position: relative; right: 120px; -webkit-appearance: none; height: 0.5rem; width: 0.5rem; background-image: linear-gradient(to right bottom, transparent 40%, white 50%, transparent 60%), linear-gradient(to left bottom, transparent 40%, white 50%, transparent 60%);
		}
	}
	&-field{
		flex-grow: 1; display: block; border-left: 2px solid white; position: relative;
		&:after{
			content: ""; width: 100%; height: 1px; background-color: color(khDark); bottom: -15px; left: 0; position: absolute; z-index: 2;
		}
		&:before{
			content: ""; display: block; width: 2rem; height: 100%; position: absolute; left: 0; top: 0; z-index: 1; background-image: linear-gradient(to right, color(Black,1), color(Black,0));
		}
	}
}

@media #{$small-only}{
	%#{$prefix}mobile_dark-form{
		&-container{
			display: block;
			label{
				display: block;
			}
		}
		&-input{
			display: block;
		}
		&-field{
			display: block;
		}
	}
}
