
%#{$prefix}radio-label{
	position: relative; display: inline-block; margin-right: 12px; cursor: pointer;

	input[type="radio"]{
		opacity: 0; width: 0; height: 0; border: none;
		&+label{
			margin-top: -20px; top: 0; display: block; border: 1px solid color(khBlack); color: color(khBlack); padding: 0.3rem grid(0.25); line-height: grid(0.5);
			font-size: 14px;

			line-height: 20px;

			&:before, &:after{
				content: none;
			}
		}
		&:checked+label{
			color: color(khWhite); border-color: color(khBlack);
		}
	}
}

%#{$prefix}option-button{
	@extend %#{$prefix}radio-label;

	input[type="radio"]{
		&:checked+label{
			background-color: color(khBlack);
		}
	}
}
