%#{$prefix}table{
	max-width: 100%#{$prefix};
	&.full{
		width: 100%;
	}
	tbody{
		tr, thead{
			td, th{
				padding: 1rem; text-align: left; @extend %#{$prefix}p;
				&:first-child{
					padding-left: 0rem;
				}
				&:last-child{
					padding-right: 0rem;
				}
				&.no-break{
					white-space: nowrap;
				}
			}
		}
	}
}

%#{$prefix}content-table{
	width: 100%;
	tr, thead{
		border-bottom: 1px solid color(Black,0.25);
		td, th{
			font-weight: $font-regular; font-size: rem(14); padding: 1rem; text-align: left; color: color(khMidgray);
			&:first-child{
				padding-left: 0rem; font-size: grid(0.225); color: color(khBlack);
				@include min-("font-size",0.225,14);
			}
			&:last-child{
				padding-right: 0rem;
			}
			.more-info{
				color: color(khMidgray); text-decoration: underline; white-space: nowrap;
			}
		}
	}
	thead{
		th{
			font-weight: $font-bold;
		}
	}
}


%#{$prefix}content-dl{
	display: flex; flex-wrap: wrap;
	dd{
		width: 60%; padding: 1rem;
	}
	dt{
		width: 40%; padding: 1rem;
	}
	dl, dt{
		border-bottom: 1px solid color(khBlack,0.1);
		&:nth-last-child(2){
			//		border: none;
		}
	}
}
