%#{$prefix}table{
	max-width: 100%#{$prefix};
	&.full{
		width: 100%;
	}
	tr, thead{
		td, th{
			padding: 1rem; text-align: left; @extend %#{$prefix}p;
			&:first-child{
				padding-left: 0rem;
			}
			&:last-child{
				padding-right: 0rem;
			}
			&.no-break{
				white-space: nowrap;
			}
		}
	}
}

%#{$prefix}content-table{
	tr, thead{
		border-bottom: 1px solid color(Black,0.25);
		td, th{
			font-weight: $font-regular; font-size: rem(14); padding: 1rem; text-align: left;
			&:first-child{
				padding-left: 1rem;
			}
			&:last-child{
				padding-right: 1rem;
			}
		}
	}
	thead{
		th{
			font-weight: $font-bold;
		}
	}
}


%#{$prefix}content-dl{
	.dl-flex{
		display: flex; flex-wrap: wrap; align-items: flex-start;
	}

	.dl-multicolumn{
		display: flex; flex-wrap: wrap; align-items: stretch;
	}

	dt{
		padding: 2px 0;
	}

	.dl-flex dt{
		flex: 0 0 35%; overflow: hidden; /* Prevents long words in labels from causing layout to break */
	}

	/* Use padding rather than margin in bottom to avoid extra spacing overflowing to the top of the next column */
	dd{
		padding: 2px 0 20px 0; margin-left: 0;
	}

	.dl-flex dd{
		flex: 65% 0 0; padding-left: 20px; max-width: 65%; /* Fix for IE issue in which box-sizing is not taken into account when using flex */
	}

	.dl-flex dd+dd{
		margin-left: 35%;
	}

	@media (min-width: 768px){
		.dl-flex dt{
			flex: 0 0 20%;
		}
		.dl-flex dd{
			flex: 80% 0 0; max-width: 80%;
		}
		.dl-flex dd+dd{
			margin-left: 20%;
		}
	}

	.avoid-break{
		flex-basis: 50%; text-align: center;
	}


	/* Styling for demo purposes below this line */
	*, *:after, *:before{
		box-sizing: border-box;
	}
	body{
		font-family: arial, helvetica, sans-serif; font-size: 15px; background: #333333; color: #eeeeee; padding: 10px;
	}
	h2{
		color: #f5ea53;
	}
	dl{
		margin-bottom: 70px;
	}
	dl.dl-flex{
		max-width: 900px;
	}
	dt{
		background: rgba(0, 0, 0, 0.5); color: #777777;
	}
	dd{
		background: rgba(0, 0, 0, 0.2); color: #ffffff;
	}
	dt, dd{
		box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.1);
	}
}
