%#{$prefix}footer{
	background-color: color(Black); color: color(White);
}
@media #{$small-only}{
	%#{$prefix}footer__top{
		display: none;
	}
}
@media #{$medium-up}{
	%#{$prefix}footer__top{
		padding: grid(3 0 1 0);
		h4{
			@include assets-menu;
		}
		ul{
			li{
				display: block;
				a{
					@include assets-menu; color: color(khMidgray); font-weight: $assets-font-weight-regular; line-height: 2;
					&:hover{
						color: color(khWhite);
					}
				}
				&.icon-item{
					@include assets-icons(true); display: inline-block; width: 20px; margin-right: 20px;
					a{
						text-indent: -999em; display: block; width: 20px; height: 20px;
					}
				}
			}
		}
	}
}
%#{$prefix}footer__newsletter{
	padding: grid(1 0 1 0); padding: grid(1 0);
}
%#{$prefix}footer__bottom{
	display: flex;
	&Content{
		background-color: color(khDark); padding: grid(0.5 1); display: flex;
		@include assets-menu-small; color: color(khMidgray);
	}
}
%#{$prefix}footer__footnote{
	flex-grow: 1;
	span, a{
		display: inline-block;
	}
	a{
		margin-left: 1rem; text-decoration: underline;
	}
}

%#{$prefix}footer__languageSwitcher{
	flex-grow: 1; text-align: right;
}

@media #{$small-only}{
	%#{$prefix}footer__bottomContent{
		display: block; padding: grid(1);
	}
	%#{$prefix}footer__footnote{
		display: block; line-height: 1.5;
		span{
			display: block;
		}
	}
	%#{$prefix}footer__languageSwitcher{
		margin-top: grid(2); display: block; text-align: left;
	}
}
