%#{$prefix}basic-header{
	background-color: color(White); padding: grid(1); padding-left: calc(#{$grid-2} - 20px); padding-right: calc(#{$grid-2} - 20px); background-color: color(khWhite); padding-top: grid(3); position: relative;
	// making or hididng the black borders
	//margin: 20px;
	margin: 0;
	.column .content{
		padding: 0;
	}
	>.breadcrumb{
		display: block; margin-top: grid(1);
	}
	table+.button{
		margin-top: grid(0.5);
	}
	.header--image{
		position: absolute; top: 0; right: 0; width: calc(50vw - 20px); height: 100%; padding: 20px; padding-top: grid(3); overflow: hidden;
		img{
			max-width: 100%;
		}
	}
}
