.assets-footer(){
	@media @small-only{ border: 1px solid red;  }

	background-color: @colors-primary-khblack; color: @colors-primary-khwhite;
}
.assets-footer--top(){
	.grid(1 2 3, padding);
	// h4{
	// 	@assets-menu();
	// }
	// ul{
	// 	li{
	// 		display: block;
	// 		a{
	// 			.assets-menu(); .assets-color(khMidgray,'color'); font-weight: @assets-font-weight-regular; line-height: 2;
	// 			&:hover{
	// 				.assets-color(khWhite,'color');
	// 			}
	// 		}
	// 		&.icon-item{
	// 			display: inline-block; width: 20px; margin-right: 20px;
	// 			a{
	// 				text-indent: -999em; display: block; width: 20px; height: 20px;
	// 			}
	// 		}
	// 	}
	// }
}
.assets-footer--newsletter(){
	// .assets-grid(1 0 1 0, 'padding');
}
.assets-footer--bottom(){
	// display: flex; padding: 1rem; .assets-color(khDark,'background-color');
	// .assets-menu-small(); .color(khMidgray,'color');
	// .footnote{
	// 	flex-grow: 1; border: 1px solid red;
	// 	span, a{
	// 		display: inline-block;
	// 	}
	// 	a{
	// 		margin-left: 1rem; text-decoration: underline;
	// 	}
	// }
	// .languageSwitcher{
	// 	flex-grow: 1; text-align: right;
	// }
}
